<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка</title>
</head>
<body>
    <h1>Ошибка подтверждения регистрации</h1>
    <p>Возможные причины:</p>
    <p>1. Неверное имя пользователя и/или неверный/просроченный одноразовый код.</p>
    <p>2. Ваша учётная запись уже активирована.</p>
    <button><a href="http://127.0.0.1:8000/confirm_registration/">Подтверждение регистрации</a></button>
</body>
</html>