<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Получение одноразового кода</title>
</head>
<body>
    <button><a href="http://127.0.0.1:8000/">Главная страница</a></button>
    <h1>Получение одноразового кода для подтверждения регистрации на почту</h1>
    <form action="http://127.0.0.1:8000/get_code_for_confirm_registration/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="username">Имя пользователя</label>
        <input type="text" name="username" required><br>
        <label for="password">Пароль</label>
        <input type="text" name="password" required><br>
        <input type="submit" value="Получить одноразовый код для подтверждения регистрации на почту"><br>
    </form>
</body>
</html>