<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка</title>
</head>
<body>
    <button><a href="http://127.0.0.1:8000/">Главная страница</a></button>
    <h1>Ошибка получения одноразового кода для подтверждения регистрации на почту</h1>
    <p>Возможные причины:</p>
    <p>1. Неверное имя пользователя и/или неверный пароль.</p>
    <p>2. На Вашу почту был выслан одноразовый код, и он всё ещё является действительным.</p>
    <p>3. Ваша учётная запись уже активирована.</p>
    <button><a href="http://127.0.0.1:8000/get_code_for_confirm_registration/">Получение одноразового кода для подтверждения регистрации на почту</a></button>
</body>
</html>