<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProjectBulletinBoard</title>
</head>
<body>
    <h1>ProjectBulletinBoard</h1>
    <button><a href="http://127.0.0.1:8000/signup/">Регистрация</a></button><br>
    <button><a href="http://127.0.0.1:8000/get_code_for_confirm_registration/">Получение одноразового кода для подтверждения регистрации на почту</a></button><br>
    <button><a href="http://127.0.0.1:8000/confirm_registration/">Подтверждение регистрации</a></button><br>
    <button><a href="http://127.0.0.1:8000/usual_login/">Первый этап входа (по паролю)</a></button><br>
    <button><a href="http://127.0.0.1:8000/login_with_code/">Второй этап входа (по одноразовому коду)</a></button><br>
    <button><a href="http://127.0.0.1:8000/logout/">Выход</a></button><br>
    <button><a href="http://127.0.0.1:8000/advertisements/">Объявления</a></button><br>
    <button><a href="http://127.0.0.1:8000/advertisements/create">Создать объявление</a></button><br>
    <button><a href="http://127.0.0.1:8000/your_advertisements/">Ваши объявления</a></button><br>
</body>
</html>