<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отклик</title>
</head>
<body>
    <button><a href="http://127.0.0.1:8000/">Главная страница</a></button>
    <h1>Отклик на Ваше объявление {{ reply.advertisement.title }}</h1>
    <table>
        <tr>
            <td>Объявление</td>
            <td>Текст</td>
            <td>Статус</td>
            <td>Дата создания</td>
            <td>Дата изменения</td>
            <td>Откликнувшийся</td>
        </tr>
        <tr>
            <td>{{ reply.advertisement.title }}</td>
            <td>{{ reply.text }}</td>
            {% if reply.is_accepted %}
            <td>Принят</td>
            {% else %}
            <td>Не принят</td>
            {% endif %}
            <td>{{ reply.create_datetime }}</td>
            <td>{{ reply.last_change_datetime }}</td>
            <td>{{ reply.user.username }}</td>
            {% if not reply.is_accepted %}
            <td><button><a href="http://127.0.0.1:8000/your_advertisements/{{ reply.advertisement.pk }}/replies/{{ reply.pk }}/accept/">Принять</a></button></td>
            <td><button><a href="http://127.0.0.1:8000/your_advertisements/{{ reply.advertisement.pk }}/replies/{{ reply.pk }}/delete/">Удалить</a></button></td>
            {% endif %}

        </tr>
    </table>
</body>
</html>