<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка</title>
</head>
<body>
    <button><a href="http://127.0.0.1:8000/">Главная страница</a></button>
    <h1>Ошибка регистрации</h1>
    <p>Возможные причины:</p>
    <p>1. Уже используемое имя пользователя.</p>
    <p>2. Недопустимое значение почты.</p>
    <p>3. Пароли не совпадают.</p>
    <p>4. Длина пароля меньше 8 символов.</p>
    <button><a href="http://127.0.0.1:8000/signup/">Регистрация</a></button>
</body>
</html>