<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Удаление профиля</title>
</head>
<body>
    <button><a href="http://127.0.0.1:8000/">Главная страница</a></button>
    <h1>Удаление профиля</h1>
    <form action="http://127.0.0.1:8000/user_delete/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="username">Имя пользователя</label>
        <input type="text" name="username" required><br>
        <label for="password">Пароль</label>
        <input type="text" name="password" required><br>
        <input type="submit" value="Удалить профиль"><br>
    </form>
</body>
</html>