<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ошибка</title>
</head>
<body>
    <h1>Ошибка изменения профиля</h1>
    <p>Возможные причины</p>
    <p>1. Неверное старое имя пользователя и/или старый пароль.</p>
    <p>2. Уже используемое новое имя пользователя.</p>
    <p>3. Недопустимое значение новой почты.</p>
    <p>4. Новые пароли не совпадают.</p>
    <p>5. Длина нового пароля меньше 8 символов.</p>
    <button><a href="http://127.0.0.1:8000/user_update/">Удаление профиля</a></button><br>
</body>
</html>