<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка</title>
</head>
<body>
    <h1>Ошибка первого этапа входа (по паролю)</h1>
    <p>Возможные причины:</p>
    <p>1. Неверное имя пользователя и/или неверный пароль.</p>
    <p>2. На Вашу почту был выслан одноразовый код, и он всё ещё является действительным.</p>
    <p>3. Ваша учётная запись не активирована.</p>
    <button><a href="http://127.0.0.1:8000/usual_login/">Первый этап входа (по паролю)</a></button>
</body>
</html>