<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отклики</title>
</head>
<body>
    <button><a href="http://127.0.0.1:8000/">Главная страница</a></button>
    <h1>Ваши отклики</h1>
    {% if replies %}
    <table>
        <tr>
            <td>Объявление</td>
            <td>Текст</td>
            <td>Статус</td>
            <td>Дата создания</td>
            <td>Дата изменения</td>
        </tr>
        {% for reply in replies %}
        <tr>
            <td>{{ reply.advertisement.title }}</td>
            <td>{{ reply.text|truncatewords:20 }}</td>
            {% if reply.is_accepted %}
            <td>Принят</td>
            {% else %}
            <td>Не принят</td>
            {% endif %}
            <td>{{ reply.create_datetime }}</td>
            <td>{{ reply.last_change_datetime }}</td>
            <td><button><a href="http://127.0.0.1:8000/advertisements/{{ reply.advertisement.pk }}/your_replies/">Отклики на данное обявление</a></button></td>
            <td><button><a href="http://127.0.0.1:8000/advertisements/{{ reply.advertisement.pk }}/your_replies/{{ reply.pk }}/">Просмотр</a></button></td>
            <td><button><a href="http://127.0.0.1:8000/advertisements/{{ reply.advertisement.pk }}/your_replies/{{ reply.pk }}/update/">Изменить</a></button></td>
            <td><button><a href="http://127.0.0.1:8000/advertisements/{{ reply.advertisement.pk }}/your_replies/{{ reply.pk }}/delete/">Удалить</a></button></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h2>Откликов нет.</h2>
    {% endif %}
</body>
</html>