<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменение отклика</title>
</head>
<body>
    <button><a href="http://127.0.0.1:8000/">Главная страница</a></button>
    <h1>Изменение отклика</h1>
    <form action="http://127.0.0.1:8000/advertisements/{{ advertisement.pk }}/your_replies/{{ reply.pk }}/update" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="text">Текст</label>
        <input type="text" name="text" value="{{ reply.text }}" required><br>
        <input type="submit" value="Изменить"><br>
    </form>
</body>
</html>